{% extends 'base.html' %}
{% load static %}
{% block titulo %}Home{% endblock titulo %}
{% block contenido %}
    <h1><p style="color: blueviolet;">"HOLA MUNDO !!!"</p></h1>
    <h1>Este es el blog de recetas del grupo 10</h1>
    <p> En el encontrarás como elaborar los mas variados platos dulces y salados</p>
    <img src="{% static 'img/home1.jpg' %}" >
    <img src="{% static 'img/home2.jpg' %}" >
    <img src="{% static 'img/home3.jpg' %}" >
    <img src="{% static 'img/home4.jpg' %}" >
    

    

{% endblock contenido %}
 <img src="{% static 'img/equipo.jpg' %}" >
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog de recetas</title>
</head>
<body>
    <h1>Este es el blog de recetas</h1>
    
</body>



</html>
