{% extends 'base.html' %}
{% load static %}
{% block titulo %}Nosotros{% endblock titulo %}
{% block contenido %}
    <h1><p style="color: blueviolet;"> SOY DE LA COMISIÓN 6-GRUPO 10</p></h1>
    <p style="color: rgb(255, 0, 183);">En este blog encontrarás los mas variados postres y su modo de preparación. Especial flanes...</p>
    <img src="{% static 'img/flan2.jpg' %}" ><p style="color: blueviolet;">Ingredientes:
        - 4 huevos
        - 1 lata de leche condensada (397g)
        - 2 medidas de la lata de leche normal (utiliza la lata vacía de leche condensada para medir)
        - Caramelo líquido 
        <b>Instrucciones:
            1. Precalienta el horno a 180°C.
            2. En un recipiente, bate los huevos.
            3. Agrega la leche condensada y la leche normal. Mezcla bien hasta obtener una mezcla homogénea.
            4. Vierte el caramelo líquido en el fondo de un molde para flan.
            5. Añade la mezcla de huevo y leche al molde.
            6. Cubre el molde con papel aluminio.
            7. Coloca el molde en una bandeja para horno con agua caliente (baño María).
            8. Hornea durante aproximadamente 50 minutos o hasta que el flan esté firme.
            9. Deja enfriar y luego refrigera durante al menos 4 horas.
            10. Desmolda y sirve.</b>
        </p>
    <img src="{% static 'img/flan3.jpg' %}" >
    <img src="{% static 'img/flan4.jpg' %}" >
    <img src="{% static 'img/flan5.jpg' %}" >


{% endblock contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi blog</title>
    
</head>
<body>
    
</body>
</html>
